.app{

justify-content: right;

}



.car{
  height:200px;
  width: 200px;
  background-color:rgb(235, 244, 247);
  border-radius: 10px;
  display: inline-flex;  
  flex-direction: column;
  justify-content: center;
  align-items: left;

}

